#welcome {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

#heart {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

@keyframes pulse {
  0% {
    transform: scale(0.75); }
  20% {
    transform: scale(1); }
  40% {
    transform: scale(0.75); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.75); }
  100% {
    transform: scale(0.75); } }

body {
  background-color: #639bff; }

.material-icons {
  margin-top: -0.125em;
  vertical-align: middle; }

