#welcome {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center; }

body {
  background-color: #639bff; }

.material-icons {
  margin-top: -0.125em;
  vertical-align: middle; }

